
NETWORK_SERVER_HOST= 0.0.0.0
NETWORK_SERVER_PORT=8000
NETWORK_NOTIFY_ROUTE_PATH=notifications/
NETWORK_OWNER_ROUTE_PATH=owner/
# Configurações de Banco de Dados
IN_MEMORY=False
SQLite3=True
MAILBOX_DB_PATH=data/databases
OWNERREPO_DB_PATH=data/databases
MAILBOX_DB_NAME = mailbox
OWNERREPO_DB_NAME = ownerrepo
#Local do frontend
FRONTEND_PATH = data/frontend
#Environment variable
ENV_ENVIRONMENT=development
IS_PRODUCTION=False